button.pressButton {
width: 100px;
height: 30px;
background: coral;
font-style: italic;
border-block-color: revert;
border: aqua;
white-space-collapse: break-spaces;
margin-right: 5px;
box-shadow: 5px 10px;
}

#buttonsContainer {
margin: 20px 0px 0px 0px;
}

button.customClass {
margin: 5px;
height: 20px;
background: cadetblue;
border: cadetblue;
box-shadow: 5px 10px;
}

#formInput.numberClass {
background: darkseagreen;
}